/* Home style */
.showcase {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.showcase__content {
  color: var(--light-color);
  font-weight: bold;
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 86vh;
}
.showcase__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
}
.showcase__text h1 {
  font-size: 3.2rem;
  margin-top: 10px;
}
.showcase__text .title2 {
  font-size: 2rem;
  color: rgba(204, 204, 204, 0.904);
}
.showcase__text p {
  font-size: 1.1rem;
  line-height: 2;
}
.showcase__btn {
  color: var(--gold-color);
  border: 1px solid var(--gold-color) !important;
  padding: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
  text-align: center;
  width: 50%;
}
.showcase__btn:hover {
  background-color: var(--gold-color);
  color: var(--dark-color);
}
.showcase__content .sm__title {
  font-size: 1rem;
  display: block;
}
.showcase__img {
  display: flex;
  align-items: center;
}
.showcase__img img {
  width: 90%;
}
.showcase__img div {
  width: 100%;
  display: none;
}
.showcase__img .showcase_slider {
  display: inline-block;
}

@media (max-width: 699px) {
  body.home {
    background-image: none;
  }
  .showcase {
    background-image: url(/images/home-img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
  }
  .showcase__text {
    padding-right: 0;
  }
  .showcase__content {
    grid-template-columns: 1fr;
    z-index: 5;

  }
  .showcase__img {
    display: none;
  }
}

@media (max-height: 450px) {
  .showcase__content h1 {
    font-size: 2.2rem;
  }
}
